body {
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: #ad67d2;
}
a:hover,a:active{
    color: #8900c6;
}
h3{
    margin:0;
}
.main{
    width: 700px;
    margin: 32px auto;
}
.btn{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #8900c6;
    border-radius: 3px;
    padding: 4px 6px;
    background-color: #8900c6;
    color: white;
    transition: background-color 0.3s;
}
.btn.danger{
    color: #e5003c;
    border: 1px solid #e5003c;
    background-color: #ffc4be;
}
.btn:hover,.btn:active{
    background-color: white;
    border: 1px solid #8900c6;
    color: #8900c6;
}
.btn.danger:hover,.btn.danger:active{
    background-color: #e5003c;
    color: white;
}
.social-slider{
    width: 50px;
    height:100px;
    position: fixed;
    left: 0;
    top: 25vh;
    background-color: #ad67d2;
    box-shadow: 1px 1px 1px darkgrey;
}
.main-nav{
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 2px 2px lightgrey;
    text-align: center;
    font-size: 28px;
    background-color: #ad67d2;

}
.main-nav ul, .main-footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-nav ul li, .main-footer ul li{
    display: inline-block;
    padding: 32px 16px;
    transition: background-color 0.2s;
}
.main-nav li:hover {
    background-color: white;
}
.main-nav a {
    color: white;
    transition: all 0.2s;
}
.main-nav li:hover a, .main-nav a:hover,.main-nav a:active {
    color: #ad67d2;
}
.active {
    background-color: white;
}
.active a {
    color: #ad67d2;
}
.main-footer{
    padding: 32px;
    text-align: center;
    font-size: 14px;
}
.blog-post{
    border: 2px solid #ad67d2;
    border-radius: 8px 0 8px 8px;
    padding: 16px;
    margin-bottom: 32px; 
}
.subtitle{
    color: darkgrey;
    font-size: 14px;
}

.pagination{
    font-size: 20px;
}
.pagination a{
    padding: 0 16px;
    text-decoration: none;
}
.pagination:hover,
.pagination:active{
    color: #ccc;
}
.contact-form input{
    width: 66%;
}